<nav>
    <ul>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/strains">Strains</a>
        </li>
        <li>
            <a href="/search">Search</a>
        </li>
        <!--<li>-->
        <!--<a href="#search">Search</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#favorites">Favorites</a>-->
        <!--</li>-->
    </ul>
</nav>