<%- include ./part/header.ejs %>

	<h1>Template mothafuckaaa</h1>
	<% if(typeof title !== 'undefined'){ %>
		<h2><%= title %></h2>
	<% }else{ %>
		<h2>Dit is gek..</h2>
	<% }; %>


<%- include ./part/footer.ejs %>