<%- include ./part/header.ejs %>

<section id="strain-detail">

    <h1><%= data.data.name %></h1>

    <img src="<%= data.data.image%>">

</section>

<% console.log(data.data.name) %>

<%- include ./part/footer.ejs %>